/* header rules */

header {
    width: 100%;
    height: 600px;
    background-color:turquoise ;
}

.header_top {
    height: 80px;
    background-color: lightblue;
    padding-top: 30px;
}

#start {
    text-transform: uppercase;
}

.jumbo {
    height: calc(100% - 80px);
}

.jumbo .container,
.jumbo .row {
    height: 100%;
}

.jumbo .col-lg-7 {
    background-color: orange;
    height: 100%;
    text-align: center;
}


.col-lg-7-contained {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
}

#navbar_mobile {
    display: none;
    color: lightblue;
}

/* /header */


/* main */

/* portfolio */


main {
    width: 100%;
}

.portfolio {
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.portfolio_cards {
    width: 70%;
    margin: 0 auto;
}

.portfolio_cards img {
    height: 150px;
    margin: 1em 3em;
    border-radius: 5px;
}


/* /portfolio */

/* about */

.about_big {
    background-color: turquoise;
    width: 100%;
}

.about {
    width: 70%;
    margin: 0 auto;
}

#random_button_id {
    display: block;
    margin: 2em auto;
    background-color: turquoise;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
}

/* /about */


/* contact me */

.contact_me {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

#send_button {
    background-color: turquoise;
    color: white;
    margin-top: 1em;
    border: none;
    border-radius: 7px;
}

#send_button:hover {
    box-shadow:5px 5px 5px  rgba(0, 0, 0, 0.473);
    border: 1px solid white;
}

.contact_me_message {
    margin-bottom: 5em;
    display: inline-block;
}
/* /contact me */


/* footer */

footer {
    background-color: rgb(89 89 201);
}

.footer_top {
    width: 75%;
    margin: 0 auto;
}

.footer_bottom {
    background-color: rgb(30 30 98);
    height: 100px;
}

.footer_top_contained {
    margin-top: 10px;
    text-align: center;
    padding: 1em 0;

}

.footer_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.footer_text {
    color: white;
}

.footer_top_contained ul {
    list-style: none;
    
}

.footer_top_contained ul li {
    display: inline-block;
    margin-right: 1.5em; 
}

.footer_top_contained ul li i{
    text-decoration: none;
    border: 1px solid white;
    line-height:40px;
    height:40px;
    width:40px;
    border-radius: 50%;
    color: white;
}

.footer_top_contained ul li i:hover {
    cursor: pointer;
}

h3 {
    color: white;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 3.5em;
}


.green_text {
    color: rgb(4, 197, 78);
}


/* /footer */

@media screen and (max-width: 768px) { 
    .no_display_text {
        display: none;
    }

    #navbar_mobile {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }
}