/* header rules */

header {
    width: 100%;
    height: 600px;
    background-color:turquoise ;
}

.header_top {
    width: 100%;
    height: 80px;
    background-color: lightblue;
    padding-top: 30px;
}

.jumbo {
    height: calc(100% - 80px);
}

.jumbo .container,
.jumbo .row {
    height: 100%;
}

.jumbo .col-lg-7 {
    background-color: orange;
    height: 100%;
    text-align: center;
}


.col-lg-7-contained {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
}

/* /header */


/* main */

/* portfolio */


main {
    height: 2000px;
    background-color: rgb(5, 172, 69);
    width: 100%;
}

.portfolio {
    width: 100%;
    background-color: white;
}



h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.portfolio_cards {
    width: 70%;
    margin: 0 auto;
}


/* /portfolio */

/* about */

.about {
    width: 70%;
    margin: 0 auto;
    background-color: turquoise;
}

#random_button_id {
    display: block;
    margin: 2em auto;
    background-color: turquoise;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
}

/* /about */


/* contact me */

.contact_me {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}